body {
  background-color: #202028;
  margin: 0 auto;
  width: 21cm;
  height: 29.7cm;
}

#main {
  width: 21cm;
  height: 29.7cm;
  background-color: #FFFFFF;
  margin: auto;
}

#template {
  width: 21cm;
  height: 29.7cm;
  background-color: #FFFFFF;
  margin: auto;
  float: left;
  display: table-cell;
  overflow: hidden;
  display: none;
  border: 0;
}

.editorHolder.editor-visible {
  padding-top: 0px;
}

.editorHolder {
  padding-top: 10px;
}

.textEditor.editor-visible {
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  display: table-cell;
}

.textEditor {
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  display: none;
}

body[editor=true] {
  background-color: #202028;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.print.editor-visible {
  width: 108px;
  vertical-align: middle;
  height: 47px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background-color: #413c69;
  font-size: 18px;
  margin: auto;
  color: #ffffff;
  justify-content: center;
  font-family: 'Roboto Regular', sans-serif;
}

.print {
  width: 108px;
  height: 47px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background-color: #413c69;
  font-size: 18px;
  display: flex;
  margin: auto;
  color: #ffffff;
  justify-content: center;
  font-family: 'Roboto Regular', sans-serif;
}

.submitJsonChange.editor-visible {
  width: 148px;
  height: 67px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background-color: #413c69;
  font-size: 18px;
  display: flex;
  margin: auto;
  color: #ffffff;
  font-family: 'Roboto Regular', sans-serif;
  margin-bottom: 20px;
}

.submitJsonChange {
  display: none;
}

.description.personalProject {
  padding: 0 0 5px 0;
}

.resume-editor {
  text-align: center;
  margin: auto;
  display: flex;
  width: 253px;
  height: 40px;
  font-size: 20px;
}

.theme-selector {
  text-align: center;
  margin: auto;
  display: flex;
  width: 253px;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  background: transparent;
}

.submit {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 52px;
  background-color: #413c69;
  outline: none;
  font-size: 18px;
  color: #fff;
  border: 0px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

.heading-resume-editor {
  text-align: center;
}