body {
  background-color: #202028;
  margin: 0 auto;
  width: 21cm;
  height: 29.7cm;
}

#main {
  width: 21cm;
  height: 29.7cm;
  background-color: #FFFFFF;
  margin: auto;
}

.print {
  width: 108px;
  height: 47px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background-color: #2CBBAD;
  font-size: 18px;
  display: flex;
  margin: auto;
  color: #ffffff;
  justify-content: center;
  font-family: 'Roboto Regular', sans-serif;
}

#topNavContainer {
  position: relative;
  padding: 20px 0 20px 0px;
  border-bottom: 2px solid #2CBBAD;
}

.textBlock {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px 0px 20px;
  max-width: 305px;
}

#name {
  font-size: 25px;
  font-family: 'Roboto Regular', sans-serif;
}

.designation {
  font-size: 18px;
  font-family: 'Roboto Regular', sans-serif;
  color: #2CBBAD;
}

.leftBlock {
  position: relative;
  height: 50px;
  width: 30px;
  background-color: #364456;
  display: inline-block;
}

.bio {
  width: 323px;
  font-size: 12px;
  padding-top: 10px;
  font-family: 'Roboto Regular', sans-serif;
}

.leftPartition {
  display: inline-block;
  max-width: 394px;
}

.rightPartition {
  display: inline-flex;
  float: right;
  padding-right: 10px;
}

.leftPartitionContent {
  display: table-cell;
  width: 396px;
}

.rightPartitionContent {
  display: table-cell;
  width: 397px;
}

.iconHolder {
  position: relative;
  position: relative;
  padding-bottom: 7px;
  text-align: right;
}
.iconsHolder {
  position: relative;
  width: 194px;
}

.icon {
  display: inline-flex;
  width: 20px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.iconText {
  display: inline-flex;
  font-size: 12px;
  padding-right: 10px;
  font-family: 'Roboto Regular', sans-serif;
}

.contentColor {
  background-color: #2CBBAD;
}

.header {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 20px 0px 48px;
  font-family: 'Roboto Regular', sans-serif;
}

.blockHolder {
  padding: 10px 0 10px 0;
}

.contentDesig {
  color: #000000;
  font-weight: 600;
}

.companyName {
  font-size: 18px;
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 100;
}

.dateStarted {
  font-size: 11px;
  font-family: 'Roboto Regular', sans-serif;
  color: #2CBBAD;
  font-weight: 400;
  font-style: italic;
  float: left;
}

.locationCompany {
  font-size: 11px;
  font-family: 'Roboto Regular', sans-serif;
  color: #2CBBAD;
  font-weight: 400;
  font-style: italic;
  position: relative;
  text-align: right;
}

.description {
  padding: 0 0 0 15px;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  margin-top: 2px;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\25aa";
  color: #2CBBAD;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  width: 1em;
  margin-left: -14px;
}

a {
  color: #800080;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: #800080;
}

.skills {
  display: inline-block;
  background-color: #2CBBAD;
  margin-right: 10px;
  color: #ffffff;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

#skills_block {
  padding: 10px 20px 0 48px;
  font-family: 'Roboto Regular', sans-serif;
  max-width: 315px;
}

.description.personalProject {
  padding: 0 0 10px 0;
}

@page { size: auto;  margin: 0mm; }

@media print {

  html, body {
    height:100%; 
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;
  }

}